{% extends 'base.html' %}
{% load static %}
{% load format_filters %}

{% block title %}Buscar Pedido de Combustible | SICOMEC{% endblock %}

{% block content %}
<div class="row">
    <section class="col-md-6 offset-md-3 mt-5">
        <h3 class="text-center mb-3" >Buscar Pedido de Combustible</h3>
    </section> 

    <section class="col-md-12">
            <div class="card card-body table-responsive">
                <table class="datatable display">
                    <thead>
                        <tr>
                            {% if not is_uquery %}
                                <th>Acciones</th>
                            {% endif %}

                            <th>Proveedor</th>
                            <th>N° Orden</th>
                            <th>Conductor</th>
                            <th>Placa</th>
                            <th>Cant.</th>
                            <th>Combustible</th>
                            <th>Código</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for fuel_order in fuel_orders %}
                            <tr class="">
                                {% if not is_uquery %}
                                    <td>
                                        <div class="btn-group">
                                            {% if fuel_order.show_buttons %}
                                            <a class="btn btn-sm btn-outline-primary" href="{% url 'sicomec:generate_fuel_order_pdf' fuel_order.id %}" target="_blank">
                                                <i class="bi bi-printer-fill" title="Imprimir"></i>
                                            </a>
                                        {% comment %} <a class="btn btn-sm btn-outline-primary " href="{% url 'sicomec:fuel_order_update' fuel_order.id %}?q={{ query }}">
                                            <i class="bi bi-pencil-fill" title="Editar"></i>
                                            </a> {% endcomment %}
                                            <a class="btn btn-sm btn-outline-danger" href="#" onclick="deleteRecord('/sicomec/fuel_order/delete', '{{ fuel_order.id }}', '', 'canceled')" title="Anular">
                                                <i class="bi bi-x-circle-fill"></i>
                                            </a>
                                            {% else %}
                                            <a class="btn btn-sm btn-outline-primary" href="{% url 'sicomec:generate_fuel_order_pdf' fuel_order.id %}" target="_blank">
                                                <i class="bi bi-printer-fill" title="Imprimir"></i>
                                            </a>
                                            {% comment %} <button class="btn btn-sm btn-outline-primary" disabled>
                                                <i class="bi bi-pencil-fill"></i>
                                                </button> {% endcomment %}
                                                <button class="btn btn-sm btn-outline-danger" disabled>
                                                    <i class="bi bi-x-circle-fill"></i>
                                                </button>
                                                
                                                {% endif %}
                                            </div>
                                    </td>
                                {% endif %}
                                <td class="align-middle">{{ fuel_order.fueltap }}</td>
                                <td class="align-middle">{{ fuel_order.order }}</td>
                                <td class="align-middle">{{ fuel_order.driver|default_if_none:"" }}</td>
                                <td class="align-middle">{{ fuel_order.plate|default_if_none:"" }}</td>
                                <td class="align-middle">
                                    {{ fuel_order.quantity|format_number }}
                                </td>
                                <td class="align-middle">{{ fuel_order.fuel }}</td>
                                <td class="align-middle">{{ fuel_order.code }}</td>
                            </tr>   
                        {% endfor %}
                    </tbody>
                </table>
            </div>
    </section>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/datatables.js' %}"></script>
{% endblock  %}
