{% extends 'base.html' %}

{% block title %}Buscar Pedido de Combustible | SICOMEC{% endblock %}

{% block content %}
<div class="row">
    <section class="col-md-6 offset-md-3 mt-5">
        <h3 class="text-center mb-3" >Buscar Pedido de Combustible</h3>
        <form method="GET" action="">
            <div class="input-group mb-3 ">
                <input type="search" name="q" value="{{ query }}" class="form-control" placeholder="Buscar por proveedor o conductor" aria-label="Buscar" autofocus>
                <button class="btn btn-primary" type="submit" title="Buscar">
                    <i class="bi bi-search mx-1" style="font-size: 1rem;"></i>
                </button>
                <a class="btn" href="{% url 'sicomec:fuel_order_list' %}" title="Recargar" style="background-color: #072e5e;">
                    <i class="bi bi-arrow-clockwise mx-1" style="font-size: 1rem; color: #fff;"></i>
                </a>
            </div>
        </form>
    </section> 

    <section class="col-md-12 my-3">
        {% if search_performed and fuel_order_count == 0 %}
        <div class="alert alert-danger text-center d-flex py-2 col-md-6 offset-md-3" role="alert">
            <i class="bi bi-info-circle-fill"></i>
            <div class="mx-auto">
                {{ message }}
            </div>
        </div>
        {% endif %}

        {% if fuel_order_count > 0 %}
            <div class="card card-body table-responsive">
                <table class="table table_search">
                    <thead>
                        <tr>
                            <th>Acciones</th>
                            <th>Proveedor</th>
                            <th>N° Orden</th>
                            <th>Conductor</th>
                            <th>Placa</th>
                            <th>Cant.</th>
                            <th>Combustible</th>
                            <th>Código</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for fuel_order in fuel_orders %}
                            <tr class="{% if fuel_order.fuel_return %}table-success{% elif fuel_order.fuel_loan %}table-warning{% elif fuel_order.canceled %}table-danger{% endif %}">
                                <td>
                                    <div class="btn-group">
                                        {% if fuel_order.show_buttons %}
                                        <a class="btn btn-sm btn-outline-primary" href="{% url 'sicomec:generate_fuel_order_pdf' fuel_order.id %}" target="_blank">
                                            <i class="bi bi-printer-fill" title="Imprimir"></i>
                                        </a>
                                        {% comment %} <a class="btn btn-sm btn-outline-primary " href="{% url 'sicomec:fuel_order_update' fuel_order.id %}?q={{ query }}">
                                            <i class="bi bi-pencil-fill" title="Editar"></i>
                                        </a> {% endcomment %}
                                        <a class="btn btn-sm btn-outline-danger" href="#" onclick="deleteRecord('/sicomec/fuel_order/delete', '{{ fuel_order.id }}', '', 'canceled')" title="Anular">
                                            <i class="bi bi-x-circle-fill"></i>
                                        </a>
                                        {% else %}
                                        <a class="btn btn-sm btn-outline-primary" href="{% url 'sicomec:generate_fuel_order_pdf' fuel_order.id %}" target="_blank">
                                            <i class="bi bi-printer-fill" title="Imprimir"></i>
                                        </a>
                                        {% comment %} <button class="btn btn-sm btn-outline-primary" disabled>
                                            <i class="bi bi-pencil-fill"></i>
                                        </button> {% endcomment %}
                                        <button class="btn btn-sm btn-outline-danger" disabled>
                                            <i class="bi bi-x-circle-fill"></i>
                                        </button>

                                        {% endif %}
                                    </div>
                                </td>
                                <td class="align-middle">{{ fuel_order.fueltap }}</td>
                                <td class="align-middle">{{ fuel_order.order }}</td>
                                <td class="align-middle">{{ fuel_order.driver }}</td>
                                <td class="align-middle">{{ fuel_order.plate }}</td>
                                <td class="align-middle">{{ fuel_order.quantity }}</td>
                                <td class="align-middle">{{ fuel_order.fuel }}</td>
                                <td class="align-middle">{{ fuel_order.code }}</td>
                            </tr>   
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </section>
</div>
{% endblock %}
