{% extends 'base.html' %}
{% block title %}Notificaciones | SICOMEC{% endblock %}


{% block content %}
<div class="row justify-content-center">
    <section class="col-md-6 mt-5">
        <h3 class="text-center mb-3" >Documentos por Expirar</h3>
        <div class="text-center fs-6">
            {{ date_print }}
        </div>
    </section> 

    <section class="col-md-8 my-3">
            {% comment %} LICENSE {% endcomment %}
            {% if count_drivers > 0 %}
                <div class="card card-body table-responsive mb-3">
                    <table class="table">
                        <thead>
                            <tr>
                                <th colspan="3">
                                    <div class="d-flex justify-content-center align-items-center" style="height: 30px;">
                                        <div class="btn-group mx-1">
                                            <a class="btn btn-sm btn-outline-primary " href="{% url 'sicomec:driver_list' %}">
                                                <i class="bi bi-eye-fill" title="Editar"></i>
                                            </a>
                                        </div>
                                        <h6 style="margin-bottom: 0;">LICENCIA</h6>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th>Licencia</th>
                                <th>Conductor</th>
                                <th>F. Expiración</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for driver in drivers %}
                                <tr>
                                    <td class="align-middle">{{ driver.license }}</td>
                                    <td class="align-middle">{{ driver.driver }}</td>
                                    <td class="align-middle">
                                        <span class="border-bottom border-danger">
                                            {{ driver.get_formatted_expiration }}
                                        </span>
                                    </td>
                                </tr>   
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}

            {% comment %} SOAT {% endcomment %}
            {% if count_vehicle_soats > 0 %}
                <div class="card card-body table-responsive mb-3">
                    <table class="table">
                        <thead>
                            <tr>
                                <th colspan="4" class="text-center">
                                    <div class="d-flex justify-content-center align-items-center" style="height: 30px;">
                                        <div class="btn-group mx-1">
                                            <a class="btn btn-sm btn-outline-primary " href="{% url 'sicomec:vehicle_list' %}">
                                                <i class="bi bi-eye-fill" title="Editar"></i>
                                            </a>
                                        </div>
                                        <h6 style="margin-bottom: 0;">SOAT</h6>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th>Placa</th>
                                <th>Vehículo</th>
                                <th>Marca</th>
                                <th>F. Emisión</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for vehicle_soat in vehicle_soats %}
                                <tr>
                                    <td class="align-middle">{{ vehicle_soat.plate }}</td>
                                    <td class="align-middle">{{ vehicle_soat.name }}</td>
                                    <td class="align-middle">{{ vehicle_soat.brand }}</td>
                                    <td class="align-middle">
                                        <span class="border-bottom border-danger">
                                            {{ vehicle_soat.get_formatted_soat }}
                                        </span>
                                    </td>
                                </tr>   
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}

            {% comment %} CITV {% endcomment %}
            {% if count_vehicle_citvs > 0 %}
                <div class="card card-body table-responsive mb-3">
                    <table class="table">
                        <thead>
                            <tr>
                                <th colspan="5" class="text-center">
                                    <div class="d-flex justify-content-center align-items-center" style="height: 30px;">
                                        <div class="btn-group mx-1">
                                            <a class="btn btn-sm btn-outline-primary " href="{% url 'sicomec:vehicle_list' %}">
                                                <i class="bi bi-eye-fill" title="Editar"></i>
                                            </a>
                                        </div>
                                        <h6 style="margin-bottom: 0;">CITV</h6>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th>Placa</th>
                                <th>Vehículo</th>
                                <th>Marca</th>
                                <th>F. Emisión</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for vehicle_citv in vehicle_citvs %}
                                <tr>
                                    <td class="align-middle">{{ vehicle_citv.plate }}</td>
                                    <td class="align-middle">{{ vehicle_citv.name }}</td>
                                    <td class="align-middle">{{ vehicle_citv.brand }}</td>
                                    <td class="align-middle">
                                        <span class="border-bottom border-danger">
                                            {{ vehicle_citv.get_formatted_citv }}
                                        </span>
                                    </td>
                                </tr>   
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
    </section>
</div>
{% endblock %}
