{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Registrar Conductor | SICOMEC{% endblock %}

{% block content %}
    <div class="row">
        <section class="col-md-8 offset-md-2 my-5">
            <h3 class="text-center mb-3">Registrar Conductor</h3>
            <form method="POST" enctype="multipart/form-data" class="card card-body mb-5">
                {% csrf_token %}
                {% crispy form %}
            </form>
        </section>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {

            var fields = [
                { id: "id_name", transform: "toUpperCase" },
                { id: "id_last_name", transform: "toUpperCase" },
                { id: "id_license", transform: "toUpperCase" },
                { id: "id_justify", transform: "toUpperCase" },
            ];
        
            function transformInput(event, transform) {
                if (transform === "toUpperCase") {
                    event.target.value = event.target.value.toUpperCase();
                }
            }
        
            fields.forEach(function(field) {
                var element = document.getElementById(field.id);
        
                if (field.transform === "toUpperCase") {
                    element.addEventListener("input", function(event) {
                        transformInput(event, field.transform);
                    });
                }
            });
        });
        
    </script> 
{% endblock %}

{% block js %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        function toggleJustify() {
            var available = document.getElementById('id_available').checked;
            var justifyField = document.getElementById('id_justify');
    
            if (available) {
                justifyField.readOnly = true;
                justifyField.style.backgroundColor = '#f0f0f0';
                justifyField.style.cursor = 'not-allowed';
                justifyField.value = '';
            } else {
                justifyField.readOnly = false;
                justifyField.style.backgroundColor = '';
                justifyField.style.cursor = '';
            }
        }
    
        toggleJustify();
    
        document.getElementById('id_available').addEventListener('change', function() {
            toggleJustify();
        });
    });
</script>
{% endblock  %}


