{% extends 'base.html' %}
{% load static %}

{% block title %}Buscar Conductor | SICOMEC{% endblock %}

{% block content %}
<div class="row">
    <section class="col-md-6 offset-md-3 mt-5">
        <h3 class="text-center mb-3">Buscar Conductor</h3>
    </section> 

    <section class="col-md-12" style="margin-bottom: 80px;">
            <div class="card card-body table-responsive">
                <table class="datatable display">
                    <thead>
                        <tr>
                            {% if is_super_admin or is_cadmin or is_padmin %}
                                <th>Acciones</th>
                            {% endif %}
                            <th>DNI</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>N° Lic.</th>
                            <th>Categoría</th>
                            <th>Venc. Lic.</th>
                            <th>Origen</th>
                            <th>Disp.</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for driver in drivers %}
                            <tr>
                                {% if is_super_admin or is_cadmin or is_padmin %}
                                    <td>
                                        <div class="btn-group">
                                            <a class="btn btn-sm btn-outline-primary " href="{% url 'sicomec:driver_update' driver.id %}">
                                                <i class="bi bi-pencil-fill" title="Editar"></i>
                                            </a>
                                            <a class="btn btn-sm btn-outline-danger" href="#" onclick="deleteRecord('/sicomec/driver/delete', '{{ driver.id }}', '', 'delete')" title="Eliminar">
                                                <i class="bi bi-trash-fill"></i>
                                            </a>
                                        </div>
                                    </td>
                                {% endif %}
                                <td class="align-middle">{{ driver.dni }}</td>
                                <td class="align-middle">{{ driver.name }}</td>
                                <td class="align-middle">{{ driver.last_name }}</td>
                                <td class="align-middle">{{ driver.license }}</td>
                                <td class="align-middle">{{ driver.category }}</td>
                                <td class="align-middle">{{ driver.expiration|date:"d/m/Y" }}</td>
                                <td class="align-middle">{{ driver.origin }}</td>
                                <td class="align-middle">
                                    {% if driver.available %}
                                        <i class="bi bi-check-circle text-success"></i>
                                    {% else %}
                                        <i class="bi bi-x-circle text-danger"></i>
                                    {% endif %}
                                </td>
                            </tr>   
                        {% endfor %}
                    </tbody>
                </table>
            </div>
    </section>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/datatables.js' %}"></script>
{% endblock  %}


