{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Actualizar Vehículo | SICOMEC{% endblock %}

{% block content %}
    <div class="row">
        <section class="col-md-8 offset-md-2 my-5">
            <h3 class="text-center mb-3">Actualizar Vehículo</h3>
            <form method="POST" enctype="multipart/form-data" class="card card-body mb-5">
                {% csrf_token %}
                {% crispy form %}
                <input type="hidden" name="q" value="{{ query }}">
            </form>
        </section>
    </div>
{% endblock %}

{% block js %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        function setFieldReadonly(fieldId) {
            var field = document.getElementById(fieldId);
            if (field && {{ form.instance.pk|yesno:"true,false" }}) {
                field.setAttribute("readonly", "readonly");
                field.style.backgroundColor = "#e9ecef";
                field.style.pointerEvents = "none";
            }
        }
    
        setFieldReadonly("id_plate");
        setFieldReadonly("id_type");

        var fields = [
            { id: "id_plate", transform: "toUpperCase" },
            { id: "id_brand", transform: "toUpperCase" },
            { id: "id_model", transform: "toUpperCase" },
            { id: "id_chassis", transform: "toUpperCase" },
        ];
    
        function transformInput(event, transform) {
            if (transform === "toUpperCase") {
                event.target.value = event.target.value.toUpperCase();
            }
        }
    
        fields.forEach(function(field) {
            var element = document.getElementById(field.id);
    
            if (field.transform === "toUpperCase") {
                element.addEventListener("input", function(event) {
                    transformInput(event, field.transform);
                });
            }
        });

        const typeField = document.getElementById('id_type');
        const mileageField = document.getElementById('id_mileage');
        const hourometerField = document.getElementById('id_hourometer');

        function toggleFields() {
            const selectedOption = typeField.options[typeField.selectedIndex];
            const selectedText = selectedOption.text;

            if (selectedText === 'VEHICULO') {  
                mileageField.disabled = false;
                hourometerField.disabled = true;
                hourometerField.value = '';
            } else if (selectedText === 'MAQUINARIA') {  
                mileageField.disabled = true;
                hourometerField.disabled = false;
                mileageField.value = '';
            } else {
                mileageField.disabled = false;
                hourometerField.disabled = false;
            }
        }

        toggleFields();

        typeField.addEventListener('change', toggleFields);
    });
    
</script> 
{% endblock  %}
