{% extends 'base.html' %}
{% load static %}

{% block title %}Buscar Vehículo | SICOMEC{% endblock %}

{% block content %}
<div class="row">
    <section class="col-md-6 offset-md-3 mt-5">
        <h3 class="text-center mb-3" >Buscar Vehículo</h3>
    </section> 

    <section class="col-md-12" style="margin-bottom: 80px;">
            <div class="card card-body table-responsive">
                <table class="datatable display">
                    <thead>
                        <tr>
                            {% if is_super_admin %}
                                <th>Acciones</th>
                            {% endif %}
                            <th>Placa</th>
                            <th>Clase</th>
                            <th>Marca</th>
                            <th>Fabricación</th>
                            <th>Combustible</th>
                            <th>Emi. SOAT</th>
                            <th>Emi. CITV</th>
                            <th>Disp.</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for vehicle in vehicles %}
                            <tr>
                                {% if is_super_admin %}
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-sm btn-outline-primary " href="{% url 'sicomec:vehicle_update' vehicle.id %}">
                                            <i class="bi bi-pencil-fill" title="Editar"></i>
                                        </a>
                                        <a class="btn btn-sm btn-outline-danger" href="#" onclick="deleteRecord('/sicomec/vehicle/delete', '{{ vehicle.id }}', '', 'delete')" title="Eliminar">
                                            <i class="bi bi-trash-fill"></i>
                                        </a>
                                    </div>
                                </td>
                                {% endif %}

                                <td class="align-middle">{{ vehicle.plate }}</td>
                                <td class="align-middle">{{ vehicle.type }}</td>
                                <td class="align-middle">{{ vehicle.brand }}</td>
                                <td class="align-middle">{{ vehicle.production }}</td>
                                <td class="align-middle">{{ vehicle.fuel }}</td>
                                <td class="align-middle">
                                    {{ vehicle.soat|date:"d/m/Y" }}
                                </td>
                                <td class="align-middle">
                                    {{ vehicle.citv|date:"d/m/Y" }}
                                </td>
                                <td class="align-middle">
                                    {% if vehicle.available %}
                                        <i class="bi bi-check-circle text-success"></i>
                                    {% else %}
                                        <i class="bi bi-x-circle text-danger"></i>
                                    {% endif %}
                                </td>
                            </tr>   
                        {% endfor %}
                    </tbody>
                </table>
            </div>
    </section>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/datatables.js' %}"></script>
{% endblock  %}