{% extends 'base.html' %}
{% load static %}

{% block title %}Papeletas Completadas | SICOMEC{% endblock %}

{% block content %}
<div class="row">
    <section class="col-md-6 offset-md-3 mt-5">
        <h3 class="text-center mb-3" >Papeletas Completadas</h3>
    </section> 

    <section class="col-md-12">
            <div class="card card-body table-responsive">
                <table class="datatable display">
                    <thead>
                        <tr>
                            {% if not is_pregistrator and not is_uquery %}
                            <th>Acciones</th>
                            {% endif %}
                            <th>Código</th>
                            <th>Conductor</th>
                            <th>Placa</th>
                            <th>Destino</th>
                            <th>F. Salida</th>
                            <th>H. Salida</th>
                            <th>F. Retorno</th>
                            <th>H. Retorno</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ballot in ballots %}
                            <tr>
                                {% if not is_pregistrator and not is_uquery %}
                                <td class="align-middle">
                                    <div class="btn-group">
                                        <a class="btn btn-sm btn-outline-primary " href="{% url 'sicomec:generate_ballot_pdf' ballot.id %}" target="_blank">
                                            <i class="bi bi-printer-fill" title="Imprimir"></i>
                                        </a>
                                        {% comment %} <a class="btn btn-sm btn-outline-danger" href="#" onclick="deleteRecord('/sicomec/ballot/delete', '{{ ballot.id }}', 'redirect_to=completed', 'delete')" title="Eliminar">
                                            <i class="bi bi-trash-fill"></i>
                                            </a> {% endcomment %}
                                        </div>
                                    </td>
                                {% endif %}
                                <td class="align-middle">{{ ballot.code }}</td>
                                <td class="align-middle">{{ ballot.driver }}</td>
                                <td class="align-middle">{{ ballot.plate }}</td>
                                <td class="align-middle">{{ ballot.place }}</td>
                                <td class="align-middle">{{ ballot.exit_date|date:"d/m/Y" }}</td>
                                <td class="align-middle">{{ ballot.exit_time }}</td>
                                <td class="align-middle">{{ ballot.return_date|date:"d/m/Y"|default_if_none:"" }}</td>
                                <td class="align-middle">{{ ballot.return_time|default_if_none:"" }}</td>
                            </tr>   
                        
                            
                        {% endfor %}
                    </tbody>
                </table>
            </div>
    </section>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/datatables.js' %}"></script>
{% endblock  %}
