{% extends 'base.html' %}
{% load static %}

{% block title %}Reporte de Papeletas | SICOMEC{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <section class="col-md-6 my-3">
        <h3 class="text-center mt-5 mb-3">Reporte de Papeletas</h3>
        <form method="GET" action="" class="card card-body flex-row flex-wrap justify-content-between align-items-center">
            <div class="d-flex">
                <div id="div_start_date" class="mb-3 me-5"> 
                    <label for="id_date" class="form-label">
                    Desde
                    </label> 
                    <input type="date" name="start_date" class="dateinput form-control" required="" id="id_start_date"> 
                </div>
                <div id="div_end_date" class="mb-3"> 
                    <label for="id_date" class="form-label">
                    Hasta
                    </label> 
                    <input type="date" name="end_date" class="dateinput form-control" required="" id="id_end_date"> 
                </div>
            </div>
            <div>
                <a class="btn btn-primary" data-base-url="/sicomec/ballot/report/" href="#" target="_blank" id="printButton">
                    <i class="bi bi-printer-fill" title="Imprimir"></i>
                    Imprimir
                </a>
            </div>
        </form>
    </section>
</div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/ballot_report.js' %}"></script>
{% endblock %}