{% extends 'base.html' %}
{% load static %}

{% block title %}Buscar Grifo | SICOMEC{% endblock %}

{% block content %}
<div class="row">
    <section class="col-md-6 offset-md-3 mt-5">
        <h3 class="text-center mb-3" >Buscar Grifo</h3>
    </section> 

    <section class="col-md-12" style="margin-bottom: 80px;">
            <div class="card card-body table-responsive">
                <table class="datatable display">
                    <thead>
                        <tr>
                            {% if is_super_admin or is_cadmin %}
                                <th>Acciones</th>
                            {% endif %}
                            <th>RUC</th>
                            <th>Raz. Social</th>
                            <th>Dirección</th>
                            <th>Email</th>
                            <th>Teléfono</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for fueltap in fueltaps %}
                            <tr>
                                {% if is_super_admin or is_cadmin %}
                                    <td>
                                        <div class="btn-group">
                                            <a class="btn btn-sm btn-outline-primary " href="{% url 'sicomec:fueltap_update' fueltap.id %}">
                                                <i class="bi bi-pencil-fill" title="Editar"></i>
                                            </a>
                                            {% if is_super_admin  %}
                                                <a class="btn btn-sm btn-outline-danger" href="#" onclick="deleteRecord('/sicomec/fueltap/delete', '{{ fueltap.id }}', '', 'delete')" title="Eliminar">
                                                    <i class="bi bi-trash-fill"></i>
                                                </a>
                                            {% endif %}
                                        </div>
                                    </td>
                                {% endif %}
                                <td class="align-middle">{{ fueltap.ruc }}</td>
                                <td class="align-middle">{{ fueltap.business_name }}</td>
                                <td class="align-middle">{{ fueltap.address }}</td>
                                <td class="align-middle">{{ fueltap.email|default_if_none:"" }}</td>
                                <td class="align-middle">{{ fueltap.phone|default_if_none:"" }}</td>
                            </tr>   
                        {% endfor %}
                    </tbody>
                </table>
            </div>
    </section>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/datatables.js' %}"></script>
{% endblock  %}
