{% extends 'base.html' %}

{% block title %}Buscar Grifo | SICOMEC{% endblock %}

{% block content %}
<div class="row">
    <section class="col-md-6 offset-md-3 mt-5">
        <h3 class="text-center mb-3" >Buscar Grifo</h3>
        <form method="GET" action="">
            <div class="input-group mb-3 ">
                <input type="search" name="q" value="{{ query }}" class="form-control" placeholder="Buscar por RUC o razón social" aria-label="Buscar" autofocus>
                <button class="btn btn-primary" type="submit" title="Buscar">
                    <i class="bi bi-search mx-1" style="font-size: 1rem;"></i>
                </button>
                <a class="btn" href="{% url 'sicomec:fueltap_list' %}" title="Recargar" style="background-color: #072e5e;">
                    <i class="bi bi-arrow-clockwise mx-1" style="font-size: 1rem; color: #fff;"></i>
                </a>
            </div>
        </form>
    </section> 

    <section class="col-md-12 my-3">
        {% if search_performed and ballot_count == 0 %}
        <div class="alert alert-danger text-center d-flex py-2 col-md-6 offset-md-3" role="alert">
            <i class="bi bi-info-circle-fill"></i>
            <div class="mx-auto">
                {{ message }}
            </div>
        </div>
        {% endif %}

        {% if fueltap_count > 0 %}
            <div class="card card-body table-responsive">
                <table class="table table-hover table_search">
                    <thead>
                        <tr>
                            <th>Acciones</th>
                            <th>RUC</th>
                            <th>Raz. Social</th>
                            <th>Dirección</th>
                            <th>Email</th>
                            <th>Celular</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for fueltap in fueltaps %}
                            <tr>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-sm btn-outline-primary " href="{% url 'sicomec:fueltap_update' fueltap.id %}?q={{ query }}">
                                            <i class="bi bi-pencil-fill" title="Editar"></i>
                                        </a>
                                        <a class="btn btn-sm btn-outline-danger" href="#" onclick="deleteRecord('/sicomec/fueltap/delete', '{{ fueltap.id }}', '', 'delete')" title="Eliminar">
                                            <i class="bi bi-trash-fill"></i>
                                        </a>
                                    </div>
                                </td>
                                <td class="align-middle">{{ fueltap.ruc }}</td>
                                <td class="align-middle">{{ fueltap.business_name }}</td>
                                <td class="align-middle">{{ fueltap.address }}</td>
                                <td class="align-middle">{{ fueltap.email|default_if_none:"" }}</td>
                                <td class="align-middle">{{ fueltap.phone|default_if_none:"" }}</td>
                            </tr>   
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </section>
</div>
{% endblock %}
