{% load static %}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background: rgb(248, 249, 250);">
                <img src="{% static 'images/logo_sicomec_sm.png' %}" alt="SICOMEC" title="SICOMEC" height="30" />
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Bienvenido al Sistema Integral de Control de Unidades Motorizadas y Combustibles - SICOMEC, plataforma diseñada para gestionar de manera eficiente el control de salida de vehículos y combustibles en la Dirección Regional de Transportes y Comunicaciones de Apurímac - DRTCA. 
                </div>
                <div class="modal-footer" style="justify-content: flex-start;">
                    <p class="fst-italic">Si tienes preguntas, comentarios o necesitas asistencia, no dudes en contactarnos. DRTCA - Oficina de Tecnología de Información y Sistemas (OTIS).</p>
                    <span style="font-size: .9rem;"><b>Versión 1.0 - 2024</b></span>
                </div>
        </div>
    </div>
</div>
