{% load static %}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background: rgb(248, 249, 250);">
                <img src="{% static 'images/logo_sicomec_sm.png' %}" alt="SICOMEC" title="SICOMEC" height="30" />
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Bienvenido al Sistema Integral de Control de Unidades Motorizadas y Combustibles - SICOMEC, plataforma diseñada para gestionar de manera eficiente el control de salidad de vehículos y combustibles en la Dirección Regional de Transportes y Comunicaciones de Apurímac - DRTCA. El sistema está desarrollado con el objetivo de facilitar el control, almacenamiento y búsqueda de documentos.</p>
                <strong>Características Principales</strong>
                <ul>
                    <li>
                        <span class="fw-semibold">Registro de Documentos:</span> Permite registrar documentos con detalles específicos como la fecha, tipo de documento, descripción, dirección, origen, y número de folios.
                    </li>
                    <li>
                        <span class="fw-semibold">Almacenamiento Seguro:</span> Los documentos pueden ser subidos y almacenados en formato PDF, asegurando que la información esté protegida y accesible solo para los usuarios autorizados.
                    </li>
                    <li>
                        <span class="fw-semibold">Búsqueda Eficiente:</span> La función de búsqueda avanzada facilita la localización rápida de documentos según varios criterios como tipo, fecha, dirección y más.
                    </li>
                    <li>
                        <span class="fw-semibold">Interfaz Intuitiva:</span> Una interfaz de usuario amigable que permite a los usuarios navegar y operar el sistema con facilidad.
                    </li>
                </ul>
                </div>
                <div class="modal-footer" style="justify-content: flex-start;">
                    <p class="fst-italic">Si tienes preguntas, comentarios o necesitas asistencia, no dudes en contactarnos. DRTCA - Oficina de Tecnología de Información y Sistemas (OTIS).</p>
                    <span style="font-size: .9rem;"><b>Versión 1.0 - 2024</b></span>
                </div>
        </div>
    </div>
</div>
