{% load static %}
<nav class="navbar navbar-expand-lg sticky-top" style="background-color: #fafafa;">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'sicomec:home' %}">
            <img src="{% static 'images/logo_sicomec_sm.png' %}" alt="SICOMEC" title="SICOMEC" height="25px" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item fw-semibold">
                    <a class="nav-link active" aria-current="page" href="{% url 'sicomec:home' %}">
                        <i class="bi bi-house-door-fill" style="font-size: 1.2rem; color: #0a58ca;"></i>
                        Inicio
                    </a>
                </li>
                    <li class="nav-item dropdown fw-semibold">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-person-fill" style="font-size: 1.2rem; color: #0a58ca;"></i>
                        Conductor
                    </a>
                        <ul class="dropdown-menu">
                            <li>
                                {% if is_super_admin or is_coperator %}
                                <a class="dropdown-item" href="{% url 'sicomec:driver_create' %}">
                                    <i class="bi bi-plus-lg"></i>
                                    Nuevo Registro
                                </a>
                                {% endif %}
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'sicomec:driver_list' %}">
                                    <i class="bi bi-search"></i>
                                    Buscar
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown fw-semibold">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-car-front-fill" style="font-size: 1.2rem; color: #0a58ca;"></i>
                        Vehículo
                    </a>
                        <ul class="dropdown-menu">
                            <li>
                                {% if is_super_admin or is_coperator %}
                                <a class="dropdown-item" href="{% url 'sicomec:vehicle_create' %}">
                                    <i class="bi bi-plus-lg"></i>
                                    Nuevo Registro
                                </a>
                                {% endif %}
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'sicomec:vehicle_list' %}">
                                    <i class="bi bi-search"></i>
                                    Buscar
                                </a>
                            </li>
                        </ul>
                    </li>
                    {% if is_super_admin or is_padmin or is_poperator or is_pregistrator or is_uquery %}
                    <li class="nav-item dropdown fw-semibold">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-file-earmark-text-fill" style="font-size: 1.2rem; color: #0a58ca;"></i>
                            Papeleta
                        </a>
                        <ul class="dropdown-menu">
                            {% if not is_pregistrator and not is_uquery %}
                                <li>
                                    <a class="dropdown-item" href="{% url 'sicomec:ballot_create' %}">
                                        <i class="bi bi-plus-lg"></i>
                                        Nuevo Registro
                                    </a>
                                </li>
                            {% endif %}
                            <li>
                                <a class="dropdown-item" href="{% url 'sicomec:ballot_list_scheduled' %}">
                                    <i class="bi bi-clock"></i>
                                    Programadas
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'sicomec:ballot_list_complete' %}">
                                    <i class="bi bi-check-lg"></i>
                                    Completadas
                                </a>
                            </li>
                            {% if not is_uquery %}
                                <li>
                                    <a class="dropdown-item" href="{% url 'sicomec:ballot_mark_return' %}">
                                        <i class="bi bi-clock"></i>
                                        Marcar Retorno
                                    </a>
                                </li>
                            {% endif %}
                            {% if not is_pregistrator and not is_uquery %}
                                <li>
                                    <a class="dropdown-item" href="{% url 'sicomec:ballot_report' %}">
                                        <i class="bi bi-printer"></i>
                                        Reporte
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}

                {% if is_super_admin or is_cadmin or is_coperator or is_uquery %}
                    <li class="nav-item dropdown fw-semibold">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-fuel-pump-fill" style="font-size: 1.2rem; color: #0a58ca;"></i>
                            Grifo
                        </a>
                        <ul class="dropdown-menu">
                            {% if not is_uquery %}
                                <li>
                                    <a class="dropdown-item" href="{% url 'sicomec:fueltap_create' %}">
                                        <i class="bi bi-plus-lg"></i>
                                        Nuevo Registro
                                    </a>
                                </li>
                            {% endif %}
                            <li>
                                <a class="dropdown-item" href="{% url 'sicomec:fueltap_list' %}">
                                    <i class="bi bi-search"></i>
                                    Buscar
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown fw-semibold">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-file-check-fill" style="font-size: 1.2rem; color: #0a58ca;"></i>
                            Orden Compra
                        </a>
                        <ul class="dropdown-menu">
                            {% if not is_uquery %}
                                <li>
                                    <a class="dropdown-item" href="{% url 'sicomec:buy_order_create' %}">
                                        <i class="bi bi-plus-lg"></i>
                                        Nuevo Registro
                                    </a>
                                </li>
                            {% endif %}
                            <li>
                                <a class="dropdown-item" href="{% url 'sicomec:buy_order_list' %}">
                                    <i class="bi bi-search"></i>
                                    Buscar
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown fw-semibold">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-file-check-fill" style="font-size: 1.2rem; color: #0a58ca;"></i>
                            Combustible
                        </a>
                        <ul class="dropdown-menu">
                            {% if not is_uquery %}
                            <li>
                                <a class="dropdown-item" href="{% url 'sicomec:fuel_order_create' %}">
                                    <i class="bi bi-plus-lg"></i>
                                    Nuevo Pedido
                                </a>
                            </li>
                            {% endif %}

                            <li>
                                <a class="dropdown-item" href="{% url 'sicomec:control_card' %}">
                                    <i class="bi bi-fuel-pump"></i>
                                    Tarjeta de Control
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'sicomec:fuel_order_list' %}">
                                    <i class="bi bi-search"></i>
                                    Buscar
                                </a>
                            </li>
                        </ul>
                    </li>
                {% endif %}
                {% comment %} <li class="nav-item">
                    <a class="nav-link" href="" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <i class="bi bi-info-circle-fill" style="font-size: 1.2rem; color: #0a58ca;"></i>
                    </a>
                </li> {% endcomment %}
            </ul>

        {% if user.is_authenticated %}
            <div class="d-flex pt-2">
                <p class="mx-2">
                    <i class="bi bi-person-fill" style="font-size: 1.2rem; color: {% if is_super_admin %}#dd4e0a; {% else %}#0a58ca;{% endif %}"></i>
                    <span style="font-size: .7rem; " class="fw-semibold">
                        {% if not user.first_name %}
                            {{ user.username|upper }}
                        {% else %}
                            {{ user.first_name|upper }} {{ user.last_name|upper }}
                        {% endif %}
                    </span>
                    {% for group in user.groups.all %}
                        <span style="font-size: 9px; display: block; text-align: right; color: rgb(195 196 196); position: absolute; top: 38px; right: 76px;">
                        {% if group.name == 'superAdmin' %}
                            {{ group.name }}
                        {% elif group.name == 'pAdministrator' or group.name == 'cAdministrator' %}
                            Administrador
                        {% elif group.name == 'pOperator' or group.name == 'cOperator' %}
                            Operador
                        {% elif group.name == 'pRegistrator' %}
                            Registrador
                        {% else %}
                            Consulta
                        {% endif %}
                        </span>
                    {% endfor %}
                    {% comment %} , {{ user.last_name }} {% endcomment %}
                </p>
                <p>
                    <a href="{% url 'sicomec:logout' %}" class="link-offset-2 link-underline link-underline-opacity-0" style="color: #FF0000;">
                        <i class="bi bi-power" style="font-size: 1.2rem; color: #FF0000;"></i>
                        <span style="font-size: .8rem;" class="fw-semibold text-uppercase">
                        Salir
                        </span>
                    </a>
                </p>
            </div>
        {% else %}
            <div class="d-flex pt-2">
                <p>
                    <a href="{% url 'sicomec:login' %}" class="link-offset-2 mx-3 link-underline link-underline-opacity-0">
                        <i class="bi bi-person-fill" style="font-size: 1.2rem; color: #0a58ca;"></i>
                        Iniciar Sesión
                    </a>
                </p>
            </div>
        {% endif %}
        </div>
    </div>
</nav>
