{% extends 'base.html' %}
{% load static %}

{% block title %}Inicio | SICOMEC{% endblock %}

{% block content %}
    <div class="row d-flex justify-content-center align-items-center" style="height: 85vh;">
        <div class="text-center">
            <section class="col-xxl-6 offset-xxl-3 col-sm-8 offset-sm-2">
                <div class="text-center">
                    <img src="{% static 'images/logo_sicomec_lg.png' %}" alt="SICOMEC" height="230px" />
                </div>
                <h1 class=" text-center mt-4" style="color:#011224;">
                    Sistema Integral de Control de Unidades Motorizadas y Combustibles
                </h1>
                {% if is_super_admin or is_padmin or is_poperator or is_pregistrator or is_cadmin or is_coperator %}
                    <div class="d-flex justify-content-center my-5">
                        {% if is_super_admin or is_cadmin or is_coperator %}
                            <a class="btn btn-primary w-50 mx-1" href="{% url 'sicomec:fuel_order_create' %}">
                                <i class="bi bi-plus-lg mx-1" style="font-size: 1.2rem; color: #fff;"></i>
                                Pedido Combustible
                            </a>
                        {% endif %}
                        {% if is_super_admin or is_padmin or is_poperator %}
                            <a class="btn btn-primary w-50 mx-1" href="{% url 'sicomec:ballot_create' %}">
                                <i class="bi bi-plus-lg mx-1" style="font-size: 1.2rem; color: #fff;"></i>
                                Papeleta Salida
                            </a>
                        {% endif %}
                        {% if is_pregistrator %}
                            <a class="btn btn-primary w-50" href="{% url 'sicomec:ballot_mark_return' %}">
                                <i class="bi bi-clock-fill" style="font-size: 1.2rem; color: #fff;"></i>
                                Marcar Retorno
                            </a>
                        {% endif %}
                    </div>
                {% endif %}    

                {% if not user.is_authenticated %}
                    <div class="d-flex justify-content-center my-4">
                        <a class="btn btn-primary mx-2 px-5" href="{% url 'sicomec:login' %}">
                            Iniciar Sesión
                        </a>
                    </div>
                {% endif %}

                </section>
        </div>

    </div>
{% endblock %}

{% block js %}
<script>
    /*
    document.addEventListener('DOMContentLoaded', function() {
        
        var alertShow = "{{ request.session.alertShow|default:'False' }}";
        
        if (alertShow === 'True') {
            setTimeout(function() {
                fetch('/sicomec/notification/count')
                    .then(response => response.json())
                    .then(data => {
                        const notificationCount = data.count;
        
                        if (notificationCount > 0) {
                            Swal.fire({
                                title: 'Expiración de Documentos',
                                text: `Hay ${notificationCount} documento(s) por revisar.`,
                                icon: 'warning',
                                confirmButtonText: 'Revisar',
                                confirmButtonColor: '#0d6efd',
                                showCancelButton: true,
                                cancelButtonText: 'Cancelar'
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    window.location.href = "{% url 'sicomec:notification_list' %}";
                                }
                            });
                        }
                    })
                    .catch(error => console.error('Error fetching notification count:', error));
            }, 2000); // 2 seconds
        }
        

/*

</script>
{% endblock  %}
