:root{
    --bs-link-color: #e04d09;
    --bs-link-color-rgb:224, 77, 9;
    --bs-link-hover-color: #d14706;
    --bs-link-hover-color-rgb: 209, 71, 6;
}

body {
    background: rgba(255, 108, 39, .02);
}
a {
    color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
}
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
}


.navbar {
    border-bottom: 1px solid rgba(175, 58, 4, 0.2);
}

/* .btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #FF6C27;
    --bs-btn-border-color: #FF6C27;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #eb5d1b;
    --bs-btn-hover-border-color: #e2500d;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #e2500d;
    --bs-btn-active-border-color: #cc3f07;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #FF6C27;
    --bs-btn-disabled-border-color: #FF6C27;
} */

#footer {
    background: #fafafa;
    width: 100%;
    height: 70px;
    padding: 3px 0;
    color: rgba(0, 0, 0, .7);
    border-top: 1px solid rgba(175, 58, 4, 0.2);
}

#footer .logo,
.text-otis {
    margin: 0 5px;
}

#footer .logo {
    display: flex;
}

#footer .logo img {
    height: 45px;
    margin: 0 5px;
}

.asteriskField {
    display: none;
}

.table_report.table>:not(caption)>*>*{
    border-bottom-width: 0
}
.table>:not(caption)>*>* {
    padding: .3rem .5rem;
}