{% extends 'base.html' %}
{% load static %}

{% block title %}Buscar Orden de Compra | SICOMEC{% endblock %}

{% block content %}
<div class="row">
    <section class="col-md-6 offset-md-3 mt-5">
        <h3 class="text-center mb-3" >Buscar Orden de Compra</h3>
        <form method="GET" action="">
            <div class="input-group mb-3 ">
                <input type="search" name="q" value="{{ query }}" class="form-control" placeholder="Buscar por orden de compra o área usuaria" aria-label="Buscar" autofocus>
                <button class="btn btn-primary" type="submit" title="Buscar">
                    <i class="bi bi-search mx-1" style="font-size: 1rem;"></i>
                </button>
                <a class="btn" href="{% url 'sicomec:buy_order_list' %}" title="Recargar" style="background-color: #072e5e;">
                    <i class="bi bi-arrow-clockwise mx-1" style="font-size: 1rem; color: #fff;"></i>
                </a>
            </div>
        </form>
    </section> 

    <section class="col-md-12 my-3">
        {% if search_performed and buy_order_count == 0 %}
        <div class="alert alert-danger text-center d-flex py-2 col-md-6 offset-md-3" role="alert">
            <i class="bi bi-info-circle-fill"></i>
            <div class="mx-auto">
                {{ message }}
            </div>
        </div>
        {% endif %}

        {% if buy_order_count > 0 %}
            <div class="card card-body table-responsive">
                <table class="table table-hover table_search">
                    <thead>
                        <tr>
                            <th>Acciones</th>
                            <th>N° Orden</th>
                            <th>Área Usuaria</th>
                            <th>Proveedor</th>
                            <th>Combustible</th>
                            <th>Cant.</th>
                            <th>Saldo</th>
                            <th>Fecha</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for buy_order in buy_orders %}
                            <tr>
                                <td class="align-middle">
                                    <div class="btn-group">
                                        <a class="btn btn-sm btn-outline-primary " href="{% url 'sicomec:buy_order_update' buy_order.id %}?q={{ query }}">
                                            <i class="bi bi-pencil-fill" title="Editar"></i>
                                        </a>
                                        <a class="btn btn-sm btn-outline-danger" href="#" onclick="deleteRecord('/sicomec/buy_order/delete', '{{ buy_order.id }}', '', 'delete')" title="Eliminar">
                                            <i class="bi bi-trash-fill"></i>
                                        </a>
                                    </div>
                                </td>
                                <td class="align-middle">{{ buy_order.order }}</td>
                                <td class="align-middle">
                                    <span class="d-inline-block text-truncate align-middle" style="max-width: 250px;">
                                        {{ buy_order.user_area }}
                                    </span>
                                </td>
                                <td class="align-middle">{{ buy_order.fueltap }}</td>
                                <td class="align-middle">{{ buy_order.fuel }}</td>
                                <td class="align-middle number" data-stock="{{ buy_order.stock }}">{{ buy_order.stock }}</td>
                                <td class="align-middle number" data-residue="{{ buy_order.residue }}">{{ buy_order.residue }}</td>
                                <td class="align-middle">{{ buy_order.date|date:"d/m/Y" }}</td>
                            </tr>   
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </section>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/formatNumberWithCommas.js' %}"></script>
{% endblock %}