{% extends 'base.html' %}
{% load static %}
{% load format_filters %}

{% block title %}Buscar Orden de Compra | SICOMEC{% endblock %}

{% block content %}
<div class="row">
    <section class="col-md-6 offset-md-3 mt-5">
        <h3 class="text-center mb-3" >Buscar Orden de Compra</h3>
    </section> 

    <section class="col-md-12" style="margin-bottom: 80px;">
            <div class="card card-body table-responsive">
                <table class="datatable display">
                    <thead>
                        <tr>
                            {% if is_super_admin or is_cadmin %}
                                <th>Acciones</th>
                            {% endif %}
                            <th>N° O/C</th>
                            <th>Área Usuaria</th>
                            <th>Proveedor</th>
                            <th>Combustible</th>
                            {% if not is_uquery %}
                                <th>Entrada</th>
                                <th>Saldo</th>
                            {% endif %}
                            <th>Fecha</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for buy_order in buy_orders %}
                            <tr>
                                {% if is_super_admin or is_cadmin %}
                                <td class="align-middle">
                                    <div class="btn-group">
                                        <a class="btn btn-sm btn-outline-primary " href="{% url 'sicomec:buy_order_update' buy_order.id %}">
                                            <i class="bi bi-pencil-fill" title="Editar"></i>
                                        </a>
                                        
                                        <a class="btn btn-sm btn-outline-danger" href="#" onclick="deleteRecord('/sicomec/buy_order/delete', '{{ buy_order.id }}', '', 'delete')" title="Eliminar">
                                            <i class="bi bi-trash-fill"></i>
                                        </a>
                                    
                                    </div>
                                </td>
                                {% endif %}

                                <td class="align-middle">{{ buy_order.order }}</td>
                                <td class="align-middle">
                                    <span class="d-inline-block text-truncate align-middle" style="max-width: 250px;">
                                        {{ buy_order.user_area }}
                                    </span>
                                </td>
                                <td class="align-middle">{{ buy_order.fueltap }}</td>
                                <td class="align-middle">{{ buy_order.fuel }}</td>
                                {% if not is_uquery %}
                                    <td class="align-middle number">{{ buy_order.stock|format_number }}</td>
                                    <td class="align-middle number">{{ buy_order.residue|format_number }}</td>
                                {% endif %}
                                <td class="align-middle">{{ buy_order.date|date:"d/m/Y" }}</td>
                            </tr>   
                        {% endfor %}
                    </tbody>
                </table>
            </div>
    </section>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/datatables.js' %}"></script>
{% endblock %}